apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: platform
  labels:
    app: backend
    tenant: platform
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
      tenant: platform
  template:
    metadata:
      labels:
        app: backend
        tenant: platform
    spec:
      serviceAccountName: backend-sa
      containers:
      - name: backend
        image: 821368347884.dkr.ecr.us-east-1.amazonaws.com/saas-infra-lab-dev-backend:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 3000
          name: http
        - containerPort: 9090
          name: metrics
        env:
        - name: NODE_ENV
          value: "production"
        - name: PORT
          value: "3000"
        - name: DB_HOST
          valueFrom:
            secretKeyRef:
              name: db-credentials
              key: db-host
        - name: DB_PORT
          valueFrom:
            secretKeyRef:
              name: db-credentials
              key: db-port
        - name: DB_NAME
          valueFrom:
            secretKeyRef:
              name: db-credentials
              key: db-name
        - name: DB_USER
          valueFrom:
            secretKeyRef:
              name: db-credentials
              key: db-username
        - name: DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: db-credentials
              key: db-password
        - name: JWT_SECRET
          valueFrom:
            secretKeyRef:
              name: backend-secret
              key: jwt-secret
        - name: JWT_EXPIRES_IN
          value: "1d"
        - name: JWT_COOKIE_EXPIRES
          value: "30"
        - name: NODE_OPTIONS
          value: "--max-old-space-size=1200"
        resources:
          requests:
            cpu: "100m"
            memory: "512Mi"
          limits:
            cpu: "500m"
            memory: "2Gi"
        livenessProbe:
          httpGet:
            path: /health/live
            port: 3000
            scheme: HTTP
          initialDelaySeconds: 30
          periodSeconds: 10
          timeoutSeconds: 3
          failureThreshold: 3
          successThreshold: 1
        readinessProbe:
          httpGet:
            path: /health/ready
            port: 3000
            scheme: HTTP
          initialDelaySeconds: 20
          periodSeconds: 10
          timeoutSeconds: 20
          failureThreshold: 3
          successThreshold: 1

---
apiVersion: v1
kind: Service
metadata:
  name: backend-service
  namespace: platform
  labels:
    app: backend
    tenant: platform
spec:
  type: ClusterIP
  ports:
  - port: 3000
    targetPort: 3000
    protocol: TCP
    name: http
  - port: 9090
    targetPort: 9090
    protocol: TCP
    name: metrics
  selector:
    app: backend
    tenant: platform

